name: build

on:
  workflow_dispatch: {}
  push:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 14.x
      - uses: actions/cache@v2
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install
        run: NODE_ENV=dev npm ci
      - name: Build Firefox extension
        run: npx web-ext sign --source-dir src --api-key="$API_KEY" --api-secret="$API_SECRET"
        env:
          API_KEY: ${{ secrets.MOZ_API_KEY }}
          API_SECRET: ${{ secrets.MOZ_API_SECRET }}
      - name: Upload Firefox extension
        uses: actions/upload-artifact@v2
        with:
          name: firefox-extension
          path: web-ext-artifacts
      - name: Build Chrome extension
        run: |
            echo "$KEY_PEM" > key.pem
            npx crx pack -o gr-harvest-helper.crx `pwd`/src
        env:
          KEY_PEM: ${{ secrets.CRX_KEY_PEM }}
      - name: Upload Chrome extension
        uses: actions/upload-artifact@v2
        with:
          name: chrome-extension
          path: gr-harvest-helper.crx
